@model ParaglidingProject.SL.Core.TraineeShip.NS.TransferObjects.TraineeShipDto
@{
    ViewData["Title"] = "Create";
}

<h1>Créer un nouveau stage</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TraineeShipStartDate" class="control-label"></label><br />
                <input asp-for="TraineeShipStartDate" class="form-control" /><br />
                <span asp-validation-for="TraineeShipStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TraineeShipEndDate" class="control-label"></label><br />
                <input asp-for="TraineeShipEndDate" class="form-control" /><br />
                <span asp-validation-for="TraineeShipEndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TraineeShipPrice" class="control-label"></label><br />
                <input asp-for="TraineeShipPrice" class="form-control" /><br />
                <span asp-validation-for="TraineeShipPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LicenseId" class="control-label"></label><br />
                <select asp-for="LicenseId" class="form-control" asp-items="ViewBag.LicenseID"></select><br />
                <span asp-validation-for="LicenseId" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <input type="submit" value="Créer" class="btn btn-primary add" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a  class="styleLink" asp-action="Index">Retour à la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
