@model ParaglidingProject.SL.Core.Site.NS.TransfertObjects.SiteDto

@{
    ViewData["Title"] = "Create";
}

<h1>Créer un nouveau site</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            
            <div asp-validation-summary="ModelOnly" class="text-danger validator"></div>
            <input type="hidden" asp-for="SiteType" value="@ViewBag.SiteType" />
            
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label><br />
                <input asp-for="Name" class="form-control" /><br />
                <span asp-validation-for="Name" class="text-danger validator"></span>
            </div>
            <div class="form-group">
                <label asp-for="Orientation" class="control-label"></label><br />
                <input asp-for="Orientation" class="form-control" /><br />
                <span asp-validation-for="Orientation" class="text-danger validator"></span>
            </div>
            @if (ViewBag.SiteType == ParaglidingProject.SL.Core.Site.NS.TransfertObjects.TypeSite.Takeoff)
            {
                <div class="form-group">
                    <label asp-for="AltitudeTakeOff" class="control-label"></label><br />
                    <input asp-for="AltitudeTakeOff" class="form-control" /><br />
                    <span asp-validation-for="AltitudeTakeOff" class="text-danger validator"></span>
                </div>
            }
            @if(ViewBag.SiteType == ParaglidingProject.SL.Core.Site.NS.TransfertObjects.TypeSite.Landing)
            {
                <div class="form-group">
                    <label asp-for="ApproachManeuver" class="control-label"></label><br />
                    <input asp-for="ApproachManeuver" class="form-control" /><br />
                    <span asp-validation-for="ApproachManeuver" class="text-danger validator"></span>
                </div>
            }
            <div class="form-group">
                <label asp-for="SiteGeoCoordinate" class="control-label"></label><br />
                <input asp-for="SiteGeoCoordinate" class="form-control" /><br />
                <span asp-validation-for="SiteGeoCoordinate" class="text-danger validator"></span>
            </div>

            <div class="form-group">
                <label asp-for="Level.ID" class="control-label"></label><br />
                <select asp-for="Level.ID" class="form-control" asp-items="ViewBag.LevelID"></select>
            </div><br />
            <div class="form-group">
                <input type="submit" value="Ajouter" class="btn btn-primary add" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a class="styleLink" asp-action="Index">Retour</a>
</div>

