@model ParaglidingProject.SL.Core.ParagliderModel.NS.TransfertObjects.ParagliderModelDto

@{
    ViewData["Title"] = "Create";
}

<h1>Créer</h1>

<h4>Modèle de parapente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label><br />
                <input asp-for="Size" class="form-control" /><br />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxWeightPilot" class="control-label"></label><br />
                <input asp-for="MaxWeightPilot" class="form-control" /><br />
                <span asp-validation-for="MaxWeightPilot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinWeightPilot" class="control-label"></label><br />
                <input asp-for="MinWeightPilot" class="form-control" /><br />
                <span asp-validation-for="MinWeightPilot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApprovalNumber" class="control-label"></label><br />
                <input asp-for="ApprovalNumber" class="form-control" /><br />
                <span asp-validation-for="ApprovalNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApprovalDate" class="control-label"></label><br />
                <input asp-for="ApprovalDate" class="form-control" /><br />
                <span asp-validation-for="ApprovalDate" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <input type="submit" value="Créer" class="btn btn-primary add" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a class="styleLink" asp-action="Index">Retour à la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
